<div>
  <div>
    <input type="button" class="form-control" style="border-color: grey;" archivosCargados="archivosCargados"
      id="btnSubirArchivo" value="Subir Archivo" ng-click="subirArchivo()">
  </div>

  <div ng-model="todoerase" ng-repeat="archivo in archivosCargados track by $index" class="campo">
    <h2 class="glyphicon glyphicon-remove" style="color:red" ng-model="archivo" ng-click="eliminarArchivo(archivo);">
    </h2>
    <!-- Separar para que no se mezcle con el borrado -->
    <em>
      {{archivo.nombre}}
    </em>
  </div>
</div>