<!-- View obra-->
<ng-include src="'core/views/core.client.view.html'"></ng-include>

<section data-ng-controller="InstrumentosController" data-ng-init="findOne()">
  <div class="jumbotron" data-ng-if="auth.isAuthenticated">
    <div class="wrapper2">
      <!-- Identificador de la vista -->
      <div class="idVista">
        <em>Instrumento</em>
      </div>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div
          class="tituloVistaView"
          data-ng-bind="instrumento.nombre | uppercase"
        ></div>
        <!-- Mostrar los botones de edición para el creador del artículo-->
        <div data-ng-show="auth.currentUser.id == instrumento.creador.id">
          <a href="/#!/instrumentos/{{instrumento._id}}/edit"
            ><span class="glyphicon glyphicon-pencil"></span
          ></a>
          <a href="#" data-ng-click="delete();"
            ><span class="glyphicon glyphicon-remove"></span
          ></a>
        </div>

        <!-- Table -->
        <table class="table table-striped text-left">
          <tbody>
            <tr>
              <td class="campo">ALIAS</td>
              <td data-ng-bind="verAlias(instrumento.alias)"></td>
            </tr>

            <tr>
              <td class="campo">Clasificación Hornbostel-Sachs</td>
              <td data-ng-bind="instrumento.clasificacion"></td>
            </tr>

            <tr>
              <td class="campo">Proyecto asociado</td>
              <td
                data-ng-bind="verProyecto(instrumento.proyectosAsociados)"
              ></td>
            </tr>

            <tr>
              <td class="campo">ANOTACIÓN CARTOGRÁFICO-TEMPORAL</td>
              <td
                data-ng-bind="verAnotacion(instrumento.anotacionCartograficoTemporal)"
              ></td>
            </tr>

            <tr>
              <td class="campo">Descriptor libre</td>
              <td
                data-ng-bind="verDescriptor(instrumento.descriptorLibre)"
              ></td>
            </tr>

            <tr>
              <td class="campo">VÍNCULO RELACIONADO</td>
              <td
                id="enlaces"
                data-ng-bind="verVinculo(instrumento.vinculoRelacionado)"
              ></td>
            </tr>

            <tr>
              <td class="campo">ARCHIVOS</td>
              <td>
                <archivo-manager
                  template-type="detail-view"
                  document-id="{{instrumento.id}}"
                  document-name="{{instrumento.nombre}}"
                  db-collection="instrumentos"
                >
                </archivo-manager>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="creador">
        <em>Creada en </em>
        <em data-ng-bind="instrumento.creado |date:'mediumDate'"></em>
        <em>por</em>
        <em data-ng-bind="instrumento.creador.fullName"></em>
      </div>
    </div>
  </div>
</section>
