<!-- View listar ejemplars-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section data-ng-controller="PruebasController" class="bodyList" data-ng-init="find()">
	<label class="tituloVista">PRUEBAS</label>
	<ul>
		<div class="wrapper">
			<table class="table table-striped">
				<thead>
					<th> <span class="glyphicon glyphicon-filter"> </span> <input type="text" class="campoList"
							ng-model="search">
						<!-- <button ng-click="propertyName = null; reverse = false">NO ORDENAR</button> -->
					</th>
				</thead>
			</table>
			<!-- Table -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							<!-- Columna sin título -->
						</th>
						<th>
							<button class="btn-lg3" ng-click="sortBy('R')prueba">PRUEBA</button>
							<span class="sortorder" ng-show="propertyName === 'prueba'"
								ng-class="{reverse: reverse}"></span>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr data-ng-repeat="prueba in pruebas | orderBy:propertyName:reverse|filter:search">

						<!-- idiomas es el modelo-->
						<td>
							<a href="/#!/pruebas/{{prueba._id}}"><span class="glyphicon glyphicon-sunglasses"></a>
						</td>
						<td class="descripcion" data-ng-bind="prueba.prueba"></td>
						<td data-ng-show="authentication.user._id == prueba.creador._id">
							<a href="/#!/pruebas/{{prueba._id}}/edit"><span class="glyphicon glyphicon-pencil"></a>
						</td>
					</tr>

				</tbody>
			</table>
		</div>


		</div>
	</ul>

	<div data-ng-hide="!pruebas || pruebas.length">
		<a href="/#!/pruebas/create"></a>
</section>