<section class="jumbotron" ng-controller="AuthenticationController">
  <div class="container">
    <div><img src="assets/images/logomr.png" alt="Logo" /></div>

    <form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()" name="loginForm">
      <label>Usuario:</label>
      <input
        type="text"
        class="form-control"
        name="username"
        formControlName="username"
        required
      />
      <label>Contraseña:</label>
      <input
        type="password"
        class="form-control"
        name="password"
        formControlName="password"
        required
      />
      @if (errorMessage) {
      <div class="text-danger" style="margin: 8px 0;">{{ errorMessage }}</div>
      }
      <input
        type="submit"
        class="btn btn-primary pull-right"
        value="Identificarse"
        [disabled]="loginForm.invalid || isLoading"
      />
    </form>

    <br />
    <a routerLink="/signup">Registrarse</a>
    <a href="/">Regresar</a>
  </div>
</section>
