<!-- View crear obras -->
<ng-include src="'core/views/core.client.view.html'" /></ng-include>
<section data-ng-controller="IdiomasController">
  <div class="jumbotron" data-ng-if="auth.isAuthenticated">
    <div class="container">
      <div data-ng-if="!auth.isAuthenticated">
        <p>Hola, bienvenida</p>
      </div>
      <div data-ng-if="auth.isAuthenticated">
        <p>Hola, bienvenido {{ auth.currentUser.fullName }}</p>
      </div>

      <label class="tituloVista">CREAR IDIOMA</label>

      <form class="form-principal" data-ng-submit="create()" novalidate>
        <!-- Mensaje de error-->
        <div data-ng-show="error">
          <strong class="error" data-ng-bind="error"></strong>
        </div>

        <div>
          <input type="text" class="form-control" ng-model="idioma" required />
        </div>

        <div>
          <input
            type="submit"
            class="btn btn-primary pull-right"
            value="Crear"
          />
          <div data-ng-show="error">
            <strong class="error" data-ng-bind="error"></strong>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
