<!-- View editar idioma -->
<ng-include src="'core/views/core.client.view.html'"></ng-include>
<section data-ng-controller="IdiomasController" data-ng-init="findOne()">
  <div class="jumbotron" data-ng-if="auth.isAuthenticated">
    <div class="container">
      <label class="tituloVista">Editar idioma</label>

      <form class="form-principal" data-ng-submit="update()" novalidate>
        <!-- Mensaje de error -->
        <div data-ng-show="error">
          <strong class="error" data-ng-bind="error"></strong>
        </div>

        <div ng-if="idioma">
          <input
            type="text"
            class="form-control"
            ng-model="idioma.idioma"
            required
          />
        </div>

        <div>
          <input
            type="submit"
            class="btn btn-primary pull-right"
            value="Actualizar"
          />
          <div data-ng-show="error">
            <strong class="error" data-ng-bind="error"></strong>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
