<!-- View listar ejemplars-->
<ng-include src="'core/views/core.client.view.html'" /></ng-include>

<section
  data-ng-controller="IdiomasController"
  data-ng-init="find()"
>
  <div class="jumbotron bodyList" data-ng-if="auth.isAuthenticated">
    <label class="tituloVista">IDIOMAS</label>
    <ul>
      <div class="wrapper">
        <table class="table table-striped">
          <thead>
            <th>
              <span class="glyphicon glyphicon-filter"> </span>
              <input type="text" class="campoList" ng-model="search" />
              <!-- <button ng-click="propertyName = null; reverse = false">NO ORDENAR</button> -->
            </th>
          </thead>
        </table>
        <!-- Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <!-- Columna sin título -->
              </th>
              <th>
                <button class="btn-lg3" ng-click="sortBy('idioma')">
                  IDIOMA
                </button>
                <span
                  class="sortorder"
                  ng-show="propertyName === 'idioma'"
                  ng-class="{reverse: reverse}"
                ></span>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr
              data-ng-repeat="idioma in idiomas | orderBy:propertyName:reverse|filter:search"
            >
              <!-- idiomas es el modelo-->
              <td>
                <a href="/#!/idiomas/{{idioma._id}}"
                  ><span class="glyphicon glyphicon-sunglasses"></span
                ></a>
              </td>
              <td class="descripcion" data-ng-bind="idioma.idioma"></td>
              <td data-ng-show="auth.currentUser.id == idioma.creador.id">
                <a href="/#!/idiomas/{{idioma._id}}/edit">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ul>

    <div data-ng-hide="!idiomas || idiomas.length">
      <a href="/#!/idiomas/create"></a>
    </div>
  </div>
</section>
