<!-- View obra-->
<ng-include src="'core/views/core.client.view.html'"></ng-include>
<section data-ng-controller="IdiomasController" data-ng-init="findOne()">
  <div class="jumbotron" data-ng-if="auth.isAuthenticated">
    <div class="wrapper2">
      <!-- Identificador de la vista -->
      <div class="idVista">
        <em>Idioma</em>
      </div>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div
          class="tituloVista"
          data-ng-bind="verIdioma(idioma.idioma) | uppercase"
        ></div>
        <!-- Mostrar los botones de edición según permisos -->
        <div data-ng-show="canUpdate(idioma) || canDelete(idioma)">
          <a href="/#!/idiomas/{{idioma._id}}/edit" data-ng-show="canUpdate(idioma)"
            ><span class="glyphicon glyphicon-pencil"></span
          ></a>
          <a href="#" data-ng-click="delete();" data-ng-show="canDelete(idioma)"
            ><span class="glyphicon glyphicon-remove"></span
          ></a>
        </div>

        <!-- Table -->
        <table class="table table-striped">
          <tbody>
            <tr>
              <td class="campo">IDIOMA</td>
              <td data-ng-bind="idioma.idioma"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="creador">
        <em>Creada en </em>
        <em data-ng-bind="idioma.creado |date:'mediumDate'"></em>
        <em>por</em>
        <em data-ng-bind="idioma.creador.fullName"></em>
      </div>
    </div>
  </div>
</section>
