# Credenciales de MongoDB
MONGO_URI=
MONGO_DB_NAME=

# Credenciales de MinIO
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Nombre del bucket de MinIO
MINIO_BUCKET_NAME=