<!-- Actores List Section -->
<!-- <section class="page-section" id="actores"> -->
<section class="bodyList" id="actores">
  <!-- <div class="container"> -->
  <div>
    <h2 class="text-center mt-0">ACTORES</h2>
    <!-- <label class="tituloVista">ACTORES</label> -->

    <hr class="divider my-4">

    <!-- <a routerLink="/actores/add-provider/" routerLinkActive="active" class="btn btn-primary mb-4">Add New Actor</a> -->

    <!-- <div class="table-responsive"> -->
    <div class="wrapper">
      <!-- <table class="table table-striped table-hover"> -->
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th>
              <!-- Columna sin título -->
            </th>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Reunión</th>
            <th scope="col">Contenedor</th>
            <!-- <th scope="col">Actions</th> -->
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let actor of actores">

            <tr>
              <td>
                <a href="/actores/{{actor._id}}"><span class="glyphicon glyphicon-sunglasses"></span></a>
              </td>
              <!-- <td scope="row">{{ actor._id }}</td> -->
              <td scope="row">{{ actor.nombres }}</td>
              <td scope="row">{{ actor.apellidos }}</td>
              <td scope="row">{{ actor.nombreReunion }}</td>
              <!-- <td scope="row">{{ actor.contenedor }}</td> -->

              <!-- <td scope="row">
                <a routerLink="/providers/details/{{actor.id}}" class="btn btn-info btn-sm mx-1">Details</a>
                <a routerLink="/providers/edit/{{actor.id}}" class="btn btn-secondary btn-sm mx-1">Edit</a>
                <a href="#myModal{{actor.id}}" class="btn btn-danger btn-sm mx-1" data-toggle="modal">Delete</a>
                 -->
              <!-- <a href="/providers/delete/{{actor.id}}" class="btn btn-danger btn-sm">Delete</a> -->

              <!-- </td> -->

            </tr>

          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</section>