<!-- <div class="file-viewer" *ngIf="filename"> -->
<h2 mat-dialog-title>{{ filename }}</h2>
<mat-dialog-content>
  <div>
    @switch (fileType) {
      @case ('image') {
        <img [src]="fileUrl" alt="{{ filename }}">
      }
      @case ('pdf') {
        <iframe [src]="safeUrl" width="100%" height="600px"></iframe>
      }
      @case ('text') {
        <iframe [src]="safeUrl" width="100%" height="600px"></iframe>
      }
      @case ('video') {
        <video [src]="fileUrl" controls width="100%">
          El navegador no soporta el elemento de video.
        </video>
      }
      @case ('audio') {
        <audio [src]="fileUrl" controls>
          El navegador no soporta este elemento de audio.
        </audio>
      }
      @default {
        <div>
          <p>No se puede previsualizar este tipo de archivo</p>
          <a [href]="fileUrl" target="_blank">Descargar archivo</a>
        </div>
      }
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="openInNewTab()">Abrir en Nueva Pestaña</button>
  <button mat-button (click)="downloadFile(filename)">Descargar</button>
  <button mat-button (click)="closeDialog()">Cerrar</button>
</mat-dialog-actions>
<!-- </div> -->