<section ng-controller="CoreController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-core-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <div data-ng-show="authentication.user"> -->
                <!-- <div data-ng-if="auth.isAuthenticated" data-ng-bind="auth.currentUser.fullName"> -->
                <!-- <div data-ng-if="auth.isAuthenticated"> -->
                <div data-ng-if="auth.isAuthenticated">
                    <!-- <img
            src="img/logomr2.png"
            alt="Logo"
            class="img-resize"
            style="max-width: 40%"
          /> -->
                    <img src="img/logomr2.png" alt="Logo" class="img-resize" style="max-width: 40%" />
                </div>
                <!-- <span class="glyphicon glyphicon-home" href="/"></span> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-core-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- <li class="active"><a href="#"><span class="sr-only">(current)</span></a></li>-->
                    <!-- <li class="dropdown" data-ng-show="authentication.user"> -->
                    <!-- <li class="dropdown" data-ng-if="auth.isAuthenticated" data-ng-bind="auth.currentUser.fullName"> -->
                    <li class="dropdown" data-ng-if="auth.isAuthenticated">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Obras y actores<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li data-ng-if="canCreate()"><a href="/#!/obras/create">Crear obra</a></li>
                            <li><a href="/#!/obras">Listar obras</a></li>
                            <li role="separator" class="divider"></li>
                            <li data-ng-if="canCreate()"><a href="/#!/actores/create">Crear actor</a></li>
                            <li><a href="/#!/actores">Listar actores</a></li>
                        </ul>
                    </li>

                    <!-- <li class="dropdown" data-ng-show="authentication.user"> -->
                    <!-- <li class="dropdown" data-ng-if="auth.isAuthenticated" data-ng-bind="auth.currentUser.fullName"> -->
                    <li class="dropdown" data-ng-if="auth.isAuthenticated">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Recursos y ejemplares<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li data-ng-if="canCreate()"><a href="/#!/recursos/create">Crear Recurso</a></li>
                            <li><a href="/#!/recursos">Listar Recursos</a></li>
                            <li role="separator" class="divider"></li>
                            <li data-ng-if="canCreate()"><a href="/#!/ejemplares/create">Crear Ejemplar</a></li>
                            <li><a href="#!/ejemplares">Listar Ejemplares</a></li>
                        </ul>
                    </li>

                    <!-- <li class="dropdown" data-ng-show="authentication.user"> -->
                    <!-- <li class="dropdown" data-ng-if="auth.isAuthenticated" data-ng-bind="auth.currentUser.fullName"> -->
                    <li class="dropdown" data-ng-if="auth.isAuthenticated">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Proyectos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li data-ng-if="canCreate()"><a href="/#!/proyectos/create">Crear Proyecto</a></li>
                            <li><a href="#!/proyectos">Listar Proyectos</a></li>
                        </ul>
                    </li>

                    <!-- <li class="dropdown" data-ng-show="authentication.user"> -->
                    <!-- <li class="dropdown" data-ng-if="auth.isAuthenticated" data-ng-bind="auth.currentUser.fullName"> -->
                    <li class="dropdown" data-ng-if="auth.isAuthenticated">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Fondos y Colecciones<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li data-ng-if="canCreate()"><a href="/#!/fondos/create">Crear Fondo documental</a></li>
                            <li><a href="/#!/fondos">Listar Fondos documentales</a></li>
                            <li role="separator" class="divider"></li>
                            <li data-ng-if="canCreate()"><a href="/#!/colecciones/create">Crear Colección</a></li>
                            <li><a href="/#!/colecciones">Listar Colecciones</a></li>
                        </ul>
                    </li>

                    <!-- <li class="dropdown" data-ng-show="authentication.user"> -->
                    <!-- <li class="dropdown" data-ng-if="auth.isAuthenticated" data-ng-bind="auth.currentUser.fullName"> -->
                    <li class="dropdown" data-ng-if="auth.isAuthenticated">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Términos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li data-ng-if="canCreate()"><a href="/#!/instrumentos/create">Crear Instrumento</a></li>
                            <li><a href="/#!/instrumentos">Listar Instrumentos</a></li>
                            <li role="separator" class="divider"></li>
                            <li data-ng-if="canCreate()"><a href="/#!/medios/create">Crear Medio sonoro</a></li>
                            <li><a href="/#!/medios">Listar Medios sonoros</a></li>
                            <li role="separator" class="divider"></li>
                            <li data-ng-if="canCreate()"><a href="/#!/sistemas/create">Crear Sistema sonoro</a></li>
                            <li><a href="/#!/sistemas">Listar Sistemas sonoros</a></li>
                            <li role="separator" class="divider"></li>
                            <li data-ng-if="canCreate()"><a href="/#!/materias/create">Crear Materia</a></li>
                            <li><a href="/#!/materias">Listar Materias</a></li>
                            <li role="separator" class="divider"></li>
                            <li data-ng-if="canCreate()">
                                <a href="/#!/generosnomusicales/create">Crear Género o Forma no musical</a>
                            </li>
                            <li>
                                <a href="/#!/generosnomusicales">Listar Géneros o Formas no musicales</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li data-ng-if="canCreate()"><a href="/#!/idiomas/create">Crear idioma</a></li>
                            <li><a href="/#!/idiomas">Listar idiomas</a></li>
                            <li role="separator" class="divider"></li>
                            <li data-ng-if="canCreate()">
                                <a href="/#!/diccionarios/create">Crear campo en diccionario</a>
                            </li>
                            <li>
                                <a href="/#!/diccionarios">Listar Diccionario de datos</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li data-ng-if="canCreate()"><a href="/#!/listas">Gestión de Listas</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" data-ng-if="auth.isAuthenticated">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Utilidades<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/#!/search">Búsqueda General</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" data-ng-if="isAdmin()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Administración<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/#!/admin/usuarios">Gestión de Usuarios</a></li>
                            <li><a href="/#!/admin/roles">Gestión de Roles</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/#!/admin/auditoria">Auditoría del Sistema</a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="https://github.com/fernandomoraangel/simr/wiki" target="_blank">Manual de
                                    usuario</a>
                            </li>
                            <li>
                                <a href="https://github.com/fernandomoraangel/simr/issues" target="_blank">Reportar
                                    novedad</a>
                            </li>
                            <!-- <li role="separator" class="divider"></li> -->
                            <li>
                                <a style="cursor: pointer" ng-click="acercaDe()">Acerca de</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <!-- <small>{{ auth.currentUser.fullName }}</small> -->
                            <small>{{ auth.currentUser.fullName }}</small>
                            <span class="caret"></span></a>
                        <!-- <ul class="dropdown-menu" data-ng-show="!authentication.user"> -->
                        <ul class="dropdown-menu" data-ng-if="!auth.isAuthenticated">
                            <li><a href="#!/login">Iniciar sesión</a></li>
                            <li><a href="#!/signup">Registrarse</a></li>
                        </ul>
                        <ul class="dropdown-menu" data-ng-if="auth.isAuthenticated">
                            <li>
                                <a style="cursor: pointer" ng-click="logoutUser()">Terminar sesión</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- <div data-ng-show="!authentication.user"> -->
    <!-- <div data-ng-show="auth.isAuthenticated == false"> -->
    <div data-ng-if="auth.isAuthenticated == false">
        <img src="img/sello.png" alt="Logo" class="img-resize" style="max-width: 100%" />
        <h2>Bienvenido a nuestro Sistema de Información</h2>
        <!-- <a href="/signin">Iniciar sesión</a> -->
        <a href="#!/login">Iniciar sesión</a>
        <!-- <a href="/signup">Registrarse</a> -->
        <a href="#!/signup">Registrarse</a>
        <a href="https://github.com/fernandomoraangel/simr/wiki" target="_blank">Manual de usuario</a>
        <a href="https://github.com/fernandomoraangel/simr/issues" target="_blank">Reportar situación</a>
        <a style="cursor: pointer" ng-click="acercaDe()">Acerca de</a>
        <!-- TEST AREA -->
        <!-- <a
      style="
        cursor: pointer;
        font-size: 12px;
        color: red;
        border: 1.5px solid red;
        padding: 3px;
      "
      ng-click="testVerifyToken()"
      >Test Verify Token</a
    >
    <a
      style="
        cursor: pointer;
        font-size: 12px;
        color: red;
        border: 1.5px solid red;
        padding: 3px;
      "
      ng-click="testRefreshToken()"
      >Test Refresh Token</a
    > -->
        <!-- Fin TEST AREA -->
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Sistema de Búsqueda General</h1>
            <p class="lead">Busque en todas las entidades del sistema SIMR con operadores booleanos</p>
        </div>
    </div>

    <!-- Barra de búsqueda -->
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form ng-submit="vm.performSearch()" class="mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg"
                                placeholder="Ingrese su consulta de búsqueda..." ng-model="vm.searchQuery" required>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary btn-lg" ng-disabled="vm.isLoading">
                                    <i class="fa fa-search" ng-if="!vm.isLoading"></i>
                                    <i class="fa fa-spinner fa-spin" ng-if="vm.isLoading"></i>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Opciones de búsqueda -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="exactSearch"
                                    ng-model="vm.searchOptions.exact">
                                <label class="form-check-label" for="exactSearch">
                                    Búsqueda exacta
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="vm.clearSearch()">
                                <i class="fa fa-times"></i> Limpiar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Filtros de entidades -->
    <div class="row mb-4" ng-if="vm.availableEntities.length > 0">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#entityFilters">
                            <i class="fa fa-filter"></i> Filtrar por entidades
                        </button>
                    </h5>
                </div>
                <div id="entityFilters" class="collapse">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <button type="button" class="btn btn-outline-primary btn-sm mr-2"
                                    ng-click="vm.selectAllEntities()">
                                    Seleccionar todas
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                    ng-click="vm.clearEntitySelection()">
                                    Limpiar selección
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" ng-repeat="entity in vm.availableEntities">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" ng-attr-id="entity-{{entity}}"
                                        ng-checked="vm.isEntitySelected(entity)" ng-click="vm.toggleEntity(entity)">
                                    <label class="form-check-label" ng-attr-for="entity-{{entity}}">
                                        {{vm.getEntityDisplayName(entity)}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ayuda de sintaxis -->
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#syntaxHelp">
                            <i class="fa fa-question-circle"></i> Ayuda de sintaxis
                        </button>
                    </h5>
                </div>
                <div id="syntaxHelp" class="collapse">
                    <div class="card-body">
                        <h6>Operadores booleanos:</h6>
                        <ul>
                            <li><code>AND</code> - Intersección de términos</li>
                            <li><code>OR</code> - Unión de términos</li>
                            <li><code>NOT</code> - Exclusión de términos</li>
                            <li><code>()</code> - Agrupación de expresiones</li>
                            <li><code>"texto"</code> - Búsqueda exacta de frases</li>
                        </ul>
                        <h6>Ejemplos:</h6>
                        <ul>
                            <li><code>bachata</code> - Buscar "bachata"</li>
                            <li><code>bachata AND salsa</code> - Bachata y salsa</li>
                            <li><code>bachata OR salsa</code> - Bachata o salsa</li>
                            <li><code>NOT bachata</code> - Todo excepto bachata</li>
                            <li><code>(bachata OR salsa) AND colombia</code> - Bachata o salsa de Colombia</li>
                            <li><code>"bachata moderna"</code> - Frase exacta</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Resultados de búsqueda -->
    <div class="row" ng-if="vm.searchResults.length > 0 || vm.isLoading || vm.error">
        <div class="col-md-12">
            <!-- Mensaje de error -->
            <div class="alert alert-danger" ng-if="vm.error">
                <i class="fa fa-exclamation-triangle"></i> {{vm.error}}
            </div>

            <!-- Cargando -->
            <div class="text-center" ng-if="vm.isLoading">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Cargando...</span>
                </div>
                <p class="mt-2">Buscando...</p>
            </div>

            <!-- Resultados -->
            <div ng-if="!vm.isLoading && vm.searchResults.length > 0">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <i class="fa fa-search"></i>
                            Resultados de búsqueda
                            <span class="badge badge-primary ml-2">{{vm.totalResults}}</span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            <a href="{{vm.getResultLink(result)}}" class="list-group-item list-group-item-action"
                                ng-repeat="result in vm.searchResults">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{vm.getResultTitle(result)}}</h5>
                                    <small class="text-muted">
                                        <span
                                            class="badge badge-info">{{vm.getEntityDisplayName(result._entityType)}}</span>
                                        <span class="badge badge-secondary" ng-if="result._searchScore">
                                            Score: {{result._searchScore | number:2}}
                                        </span>
                                    </small>
                                </div>
                                <p class="mb-1">{{vm.getResultDescription(result)}}</p>
                                <small class="text-muted" ng-if="result.creado">
                                    Creado: {{result.creado | date:'dd/MM/yyyy'}}
                                </small>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Paginación -->
                <nav aria-label="Paginación de resultados" ng-if="vm.getTotalPages() > 1">
                    <ul class="pagination justify-content-center mt-4">
                        <li class="page-item" ng-class="{disabled: vm.currentPage === 1}">
                            <a class="page-link" href="#" ng-click="vm.previousPage()" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" ng-repeat="page in vm.getPageNumbers()"
                            ng-class="{active: page === vm.currentPage}">
                            <a class="page-link" href="#" ng-click="vm.goToPage(page)">{{page}}</a>
                        </li>
                        <li class="page-item" ng-class="{disabled: vm.currentPage === vm.getTotalPages()}">
                            <a class="page-link" href="#" ng-click="vm.nextPage()" aria-label="Siguiente">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Sin resultados -->
            <div class="alert alert-info"
                ng-if="!vm.isLoading && vm.searchResults.length === 0 && vm.searchQuery && !vm.error">
                <i class="fa fa-info-circle"></i>
                No se encontraron resultados para "{{vm.searchQuery}}"
            </div>
        </div>
    </div>
</div>