<!-- <!DOCTYPE html>
<html lang="en"> -->

<!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="assets/styles/styles.css">
  <link rel="icon" href="assets/images/favicon.png">
</head> -->
<a routerLink="/" title="Ir a la página principal">
  <img
    src="assets/images/logomr2.png"
    alt="Logo"
    class="img-resize"
    style="max-width: 15%; margin: 10px; cursor: pointer"
  />
</a>

<div style="margin: 8px; text-align: center">
  <h1 class="tituloVista">Sistema de Información de Músicas Regionales</h1>
  <h2 class="subtituloVista">SIMR</h2>
  <router-outlet></router-outlet>

  <!-- <app-archivo-subida></app-archivo-subida>
  <app-archivo-lista></app-archivo-lista>
  <app-archivo-vista></app-archivo-vista>  -->

  <!-- </html> -->
</div>
