<!-- View actor-->
<ng-include src="'core/views/core.client.view.html'"></ng-include>
<section data-ng-controller="ActoresController" data-ng-init="findOne()">
  <div class="jumbotron" data-ng-if="auth.isAuthenticated">
    <div class="wrapper2">
      <!-- Identificador de la vista -->
      <div class="idVista">
        <em>Actor</em>
      </div>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div
          class="tituloVistaView"
          data-ng-bind="actor.fullName | uppercase"
        ></div>
        <!-- Mostrar los botones de edición según permisos -->
        <div data-ng-show="canUpdate(actor) || canDelete(actor)">
          <a href="/#!/actores/{{actor._id}}/edit" data-ng-show="canUpdate(actor)"
            ><span class="glyphicon glyphicon-pencil"></span
          ></a>
          <a href="#" data-ng-click="delete();" data-ng-show="canDelete(actor)"
            ><span class="glyphicon glyphicon-remove"></span
          ></a>
        </div>

        <!-- Table -->
        <table class="table table-striped text-left">
          <tbody>
            <tr>
              <td class="campo">NOMBRES</td>
              <td data-ng-bind="actor.nombres"></td>
            </tr>

            <tr>
              <td class="campo">APELLIDOS</td>
              <td data-ng-bind="actor.apellidos"></td>
            </tr>

            <tr>
              <td class="campo">Nombre de reunión</td>
              <td data-ng-bind="actor.nombreReunion"></td>
            </tr>

            <tr>
              <td class="campo">CONTENEDORES (ACTORES)</td>
              <td data-ng-bind="verContenedores(actor.contenedor)"></td>
            </tr>

            <tr>
              <td class="campo">Anotaciones cartográfico temporales</td>
              <td
                data-ng-bind="verAnotacion(actor.anotacionCartograficoTemporal)"
              ></td>
            </tr>

            <tr>
              <td class="campo">DESCRIPTORES</td>
              <td data-ng-bind="verDescriptor(actor.descriptores)"></td>
            </tr>

            <tr>
              <td class="campo">VÍNCULOS RELACIONADOS</td>
              <td
                id="enlaces"
                data-ng-bind="verVinculo(actor.vinculoRelacionado)"
              ></td>
            </tr>

            <tr>
              <td class="campo">ARCHIVOS</td>
              <td>
                <archivo-manager
                  template-type="detail-view"
                  document-id="{{actor.id}}"
                  document-name="{{actor.nombres}} {{actor.apellidos}}"
                  db-collection="actores"
                >
                </archivo-manager>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="creador">
        <em>Creada en </em>
        <em data-ng-bind="actor.creado |date:'mediumDate'"></em>
        <em>por</em>
        <em data-ng-bind="actor.creador.fullName"></em>
      </div>
    </div>
  </div>
</section>
